keycloak:
  replicaCount: 2
  httpRelativePath: /auth/
  production: false
  auth:
    adminUser: admin
    adminPassword: Th54ERdt&3w
  tls:
    enabled: false
  extraEnvVars:
    - name: PROXY_ADDRESS_FORWARDING
      value: "true"
  metrics:
    enabled: false
    serviceMonitor:
      endpoints: metrics
  postgresql:
    enabled: true
  service:
    type: ClusterIP
  ingress:
    enabled: false
