apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myhelm-argo-application
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/nachomateos/argocd-helm-test.git
    targetRevision: HEAD
    path: /
  destination: 
    server: https://kubernetes.default.svc
    namespace: keycloak

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
